/*============Fonts==========*/

@font-face {
  font-family: Poppins_Bold;
  src: url("/assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins_Bolditalic;
  src: url("/assets/fonts/Poppins-BoldItalic.ttf");
}

@font-face {
  font-family: Poppins_Extrabold;
  src: url("/assets/fonts/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: Poppins_Italic;
  src: url("/assets/fonts/Poppins-Italic.ttf");
}

@font-face {
  font-family: Poppins_Regular;
  src: url("/assets/fonts/Poppins-Regular.ttf");
}

/*=========================Custom Properties========================*/

:root {
  /*==========Colors=======*/

  --Purple:hsl(259, 100%, 65%);
  --Light_red: hsl(0, 100%, 67%);

  --White: hsl(0, 0%, 100%);
  --Off_white: hsl(0, 0%, 94%);
  --Light_grey: hsl(0, 0%, 86%);
  --Smokey_grey: hsl(0, 1%, 44%);
  --Off_black: hsl(0, 0%, 8%);

  /*=========Typography==========*/

  --fs-1: 16px;
  --fs-2: 18px;
  --fs-3: 40px;
}

/*=========================Reset===========================*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

button,
a,
span,
input {
  display: block;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

button,
input {
  background: none;
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
  scrollbar-width: thin;
  font-family: Poppins_Regular;
}

body {
  background-color: var(--Off_white);
}

/*=========================Reused styles===========================*/

.result,
.time_span {
  font-size: var(--fs-3);
  font-family: Poppins_Bolditalic;
  font-weight: 900;
}

/*=========================Main styles===========================*/

.main_container {
  padding-inline: 15px;
  min-height:100dvh;
}

.calculator_container {
  background-color: var(--White);
  margin-block-start: 70px;
  padding: 30px 25px;
  border-radius: 20px;
  border-bottom-right-radius: 70px;
  max-width: 350px;
  margin-inline: auto;
}

.form {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-block-end: 45px;
  border-block-end: 1px solid var(--Light_grey);
}

.input_field {
  width: 75px;
  padding: 15px 12px;
  border: 1px solid var(--Smokey_grey);
  border-radius: 6px;
  color: var(--Off_black);
  font-family: Poppins_Bold;
  font-size: var(--fs-2);
}

.input_field:is(:hover, :focus) {
  border-color: var(--Purple);
}

.label {
  font-family: Poppins_Bold;
  text-transform: uppercase;
  font-weight: lighter;
  color: var(--Smokey_grey);
  font-size: var(--fs-1);
  letter-spacing: 1.5px;
}

.submit-btn {
  position: absolute;
  display: grid;
  place-content: center;
  padding: 15px;
  background-color: var(--Purple);
  border-radius: 50%;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.4s ease-out;
}

.submit-btn:is(:hover, :focus) {
  background-color: var(--Off_black);
}

.answers {
  padding-block-start: 50px;
}

.answer_wrapper > * {
  display: inline-block;
}

.result {
  color: var(--Purple);
}

.time_span {
  color: var(--Off_black);
}

.error-message {
  font-family: Poppins_Italic;
  color:var(--Light_red);
  font-size:13px;
  font-weight:500;
}

/*=============Media queries============*/

/*====Responsive for devices more than 575px devices*/

@media (min-width: 575px) {
  :root {
    --fs-3: 45px;
  }
}

/*====Responsive for devices more than 768px devices*/

@media (min-width: 768px) {
  :root {
    --fs-3: 50px;
  }

  .calculator_container {
    min-width: 450px;
  }

  .input_field {
    width: 90px;
    padding-block: 12px;
  }
}

/*====Responsive for devices more than 992px devices*/

@media (min-width: 992px) {
  :root {
    --fs-3: 60px;
    --fs-1: 17px;
    --fs-2: 20px;
  }

  .main_container{
    display: grid;
    align-items: center;
  }

  .calculator_container {
    min-width: 550px;
    padding: 30px 35px;
    border-bottom-right-radius: 130px;
    margin-block-start: 0;
  }

  .input_field {
    width: 100px;
    padding-block: 8px;
  }

  .submit-btn {
    right: 0%;
    left: unset;
    transform: translate(0, -50%);
  }
}

@media (min-width: 1200px) {
  :root {
    --fs-3: 75px;
  }

  .calculator_container {
    min-width: 650px;
  }

  .input_field {
    width: 120px;
    padding-block: 8px;
  }
}

