
/*--------------------Google Font link------------------*/
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Inter:wght@400;700&family=Lora&family=Merriweather:wght@300&family=Montserrat:wght@700&family=Outfit:wght@400;800&family=Poppins:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Preahvihear&family=Raleway&family=Red+Hat+Text:ital,wght@0,400;0,600;0,700;1,400&family=Roboto:wght@400;700&family=Rubik:wght@400;500&family=Ubuntu:wght@300&display=swap');


:root{

  /*-------------------Font family-----------*/

  --Font-Family:'Rubik', sans-serif;

 /*---------------------Colors---------------------*/

/*-------- Primary----*/

--Soft-Blue: hsl(231, 69%, 60%);
--Soft-Red: hsl(0, 94%, 66%);

/*--------- Neutral------*/

--Grayish-Blue: hsl(229, 8%, 60%);
--Navbar-Blue: hsla(235, 33%, 13%, 0.916);
--VeryDark-Blue: hsl(229, 31%, 21%);



/*-------------------- Typography------------------*/

--Body-Font: 18px;
--h1-Font:1.8rem;
--Para-Font:1rem;
--Buttons-Font:1rem;
--Tabs-Font:1.3rem;




--Weight-500 : 500;
--Weight-400:400;

/*-------------------- Spacing------------------*/

--Section-Spacing:120px;

/*--------------------Border------------------*/

--Border-1:1px solid #ffffff48;

--Border-2:1px solid #b5b1b16e ;

}

/*===================RESET===============*/

*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

li
{

    list-style: none;
}

a,
img,
span,
i
{
    display: block;
}

a
{
    color: inherit;
    text-decoration: none;
}

button
{
    cursor: pointer;
}


html
{
font-family: var(--Font-Family);
scroll-behavior: smooth;
}

body
{
    font-size: var(--Body-Font);
    line-height:1.5 ;
}

button
{
    background: none;
    border: none;
    outline: none;
}



/*===================REUSED STYLES===============*/

.container
{
     padding-inline: 16px;
}

i
{
    font-size:1.4rem;
    font-weight: var(--Weight-500);
}

.section
{
    padding-block-start: var(--Section-Spacing);
}

.has-image
{
    width: 100%;
    height: 100%;
}

.img-cover
{
    width: 100%;
    height: 100%;
}

.h1
{
    font-size:var(--h1-Font);
    line-height: 1.7;
    color: var(--VeryDark-Blue);
}

.section-text
{
    color: var(--Grayish-Blue);
    font-size:var(--Para-Font) ;
    margin-block: 20px;
}

.btn
{
    border-radius:5px;
}

.btn-primary
{
    display:grid;
    place-content: center;
    background-color: var(--Soft-Blue);
    color:#fff;
}

.btn-secondary
{
   display:grid;
   place-content: center;
   background-color:#b9b9b9f0;
   color: var(--VeryDark-Blue);
}

/*===================HEADER===============*/


.header > .container
{
    padding-block: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > .container.remove
{
    display: none;
} 


.header.active > .container
{
    position:fixed;
    background-color: #fff;
    box-shadow: 2px 2px 3px 3px var(--Grayish-Blue);
    top:0;
    left: 0;
    right: 0;
    animation :slideIn 800ms ease-in; 
    z-index: 10;
}

@keyframes slideIn
{
    0%
    {
        transform: translateY(-40px);
    }
    100%
    {
        transform: translateY(0);
    }
}

.navbar
{
    display: none;
}

.navbar.active
{
    display: block;
    position: fixed;
    inset: 0;
    background-color: var(--Navbar-Blue);
}

.navbar > .container
{
    padding-block:25px;
}

.navbar-top
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-block-end:var(--Border-1);
    padding-block-end:30px;
}

.navbar-top i
{
   color: #fff;
}

.nav-item
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block:25px;
}

.nav-item:not(:nth-child(4))::before
{
    position: absolute;
    content: '';
    width: 100%;
    height:1px ;
    background-color: #ffffff48;
    bottom: 0;
}

.nav-link
{
    font-size: 1.4rem;
    color:#ffffffe9;
    letter-spacing:3px;
    transition: all 0.3s ease;
}

.nav-list .nav-btn
{
    font-size:1.6rem;
    color:#fff;
    font-weight: var(--Weight-500);
    letter-spacing:3px;
}

.nav-item:nth-child(4)
{
    margin-block-start:25px;
    border: 1.5px solid #fff;
    padding-block:6.5px;
    border-radius:5px;
}

.nav-socials
{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-block:100px;
   gap: 30px;
}

/*===================HERO SECTION===============*/

.hero
{
    padding-block-start:60px;
}

.hero-content
{
    text-align: center;
}


.hero-content .hero-buttons
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hero-buttons button
{
    font-size: var(--Buttons-Font);
    font-weight:var(--Weight-500);
    height:50px;
    width: 160px;
}

/*===================Features Section===============*/

.features-content
{
    text-align: center;
}

.features-tab
{
    margin-block-start:40px;
}

.feature-list
{
  padding-block: 20px;
}


.feature-item
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block:5px;
    padding-block: 20px;
    border-block: var(--Border-2);
   
}

.feature-link
{
    font-size: var(--Tabs-Font);
}










